<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dan Hansen - Software Developer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

	<link href="css/style.css" rel="stylesheet">
</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"> Brand/Logo here</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#project-section">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Intro -->
	<div class="d-flex justify-content-center intro-container">
		<div class="align-self-center align-items-sm-stretch justify-content-center">
			<h1 class="text-center intro-text">Dan Hansen</h1>
			<p class="lead text-center" style="color: whitesmoke">I build software products for large enterprises and
				small organizations.</p>
			<div class="d-flex align-self-center justify-content-center">
				<a role="button" class="btn btn-inverse btn-dark" href="#project-section">View Work</a>
				<div style="display: inline-block; margin-left: 12px; margin-right: 12px">
				</div>
				<a role="button" class="btn btn-inverse btn-dark" href="#contact">Contact Me</a>
			</div>
			<br>

		</div>
	</div>

	<!--- projects section -->
	<section id="project-section">
		<br><br><h1>Projects</h1>
		<!--- project -->
		<div class="project-container">
			<div class="project-title">
				<h4>Spending Comparison</h4>
			</div>
			<div class="project-image-container">
				<img class="project-image" src="img/spending-app.jpg">
			</div>
			<div class="project-info-container">

				<div>
					<h4 class="title-in-project-description">Spending Comparison</h4>
					<p>This app prompts users to enter their income, region and amounts of spending for different
						categories. Then it compares them to similar households using data from the Bureau of Labor
						Statistics. This project got a few hundred hits after I posted a link on Reddit. Feedback was
						that
						results need to be graphical, rather than textual. Otherwise, it was well received.</p>
					<div class="project-tech">
						<p>ASP.NET MVC | SQL Server | Bootstrap | JQuery</p>
					</div>
					<div class="project-links">
						<p><strong><a href="">View it live</a> || <a href="">Review on Github</a></strong></p>
					</div>
				</div>
			</div>
		</div>
		<hr class="project-dividers">
		<!--- project -->
		<div class="project-container">
			<div class="project-title">
				<h4>Foundation Web Site</h4>
			</div>
			<div class="project-image-container">
				<img class="project-image" src="img/icmf-site.jpg">
			</div>
			<div class="project-info-container">
				<h4 class="title-in-project-description">Foundation Web Site</h4>
				<p>Basic informational and marketing site. Built on WordPress to allow later edits by foundation board
					members. Includes contact form, donation link, scholarship and grant applications. Feedback is that
					some older audience members have trouble navigating the site. Otherwise accepted by the client.</p>
				<div class="project-tech">
					<p>WordPress | CSS</p>
				</div>
				<div class="project-links">
					<p><strong><a href="https://www.icmasonicfoundation.org/">View it live</a></strong></p>
				</div>
			</div>
		</div>
		<hr class="project-dividers">
		<!--- project -->
		<div class="project-container">
			<div class="project-title">
				<h4>Project title</h4>
			</div>
			<div class="project-image-container">
				<img class="project-image" src="img/spending-app.jpg">
			</div>
			<div class="project-info-container">
				<h4 class="title-in-project-description">Project title</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>
				<div class="project-tech">
					<p>ASP.NET MVC | SQL Server | Bootstrap | JQuery</p>
				</div>
				<div class="project-links">
					<p><strong><a href="">View it live</a> || <a href="">See it on Github</a></strong></p>
				</div>
			</div>
		</div>
	</section>

	<!--- About -->
	<section id="about-section">
		<h1>About</h1>
		<div class="about-description">

			<p>Hi! I'm Dan and I've been working in information technology for over 8 years. I have also been
				designing
				for print and the web for 20 years. I completed software curriculums from Kirkwood Community
				College,
				Pluralsight and freeCodeCamp. I also have a bachelor’s degree and some graduate coursework in
				e-commerce
				and marketing.</p>
			<p>A few facts about me:</p>
			<ul>
				<li>I wake up every day at 4:30am to write code and it's my favorite part of the day.</li>
				<li>I have been the top performer in almost every job I’ve ever had.</li>
				<li>I have read dozens of books on personal productivity.</li>
				<li>I LOVE to create tools to help other people get their work done faster.</li>
				<li>I am willing to take on the hard projects.</li>
			</ul>
			<br>
			<br>

		</div>
	</section>

	<!-- Contact section -->
	<section id="contact-section">
		<h1>Contact Me</h1>
		<div class="contact-form">
			<form method="POST" action="/send">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" placeholder="e.g. Jane Smith">
				</div>
				<div class="form-group">
					<label for="email-address">Email address</label>
					<input type="email" class="form-control" id="email-address" placeholder="e.g. Jane@global.com">
				</div>
				<div class="form-group">
					<label for="phone-number">Phone Number</label>
					<input type="text" class="form-control" id="phone" placeholder="e.g. 555-123-4567">
				</div>
				<div class="form-group">
					<label for="message">Message</label>
					<textarea name="message" style="width: 100%;" rows="5"
						placeholder="e.g. This is Jane from GlobalCom and I'd like to discuss a job opportunity..."></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<br>
		<br>
	</section>
	<!--- Footer -->
	<div class="d-flex bg-dark justify-content-center" id="footer">
		<br>
		<br>
		<div class="logo-text-container d-flex align-self-center justify-content-center">
			<i class="fab fa-linkedin"></i>
			<div style="display: inline-block; margin-left: 12px; margin-right: 12px">
			</div>
			<i class="fab fa-github"></i>
			<div style="display: inline-block; margin-left: 12px; margin-right: 12px">
			</div>
			<!-- <a href="https://medium.com/@spag1024"></a> --> <i class="fab fa-medium-m"></i>
		</div>
		<br>
		<br>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>

</html>