<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dan Hansen - Software Developer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136395482-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136395482-2');
</script>

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
		<div class="container-fluid" style="height:15%; overflow: visible;">
			<a class="navbar-brand" href="#"><img src="public/img/dan-icon_white.png" id="brand-image">Dan Hansen</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#project-section">Projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about-section">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact-section">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Messages -->
	<% include ./partials/messages %>

	<!-- Intro-section -->
	<section class="d-flex justify-content-center intro-container">
		<div class="align-self-center align-items-sm-stretch justify-content-center intro-hero">
			<h1 class="text-center intro-text">Dan Hansen</h1>
			<p class="lead text-center "><strong>I build software products for large enterprises and
					small organizations.</strong></p>
			<div class="d-flex align-self-center justify-content-center">

				<a role="button" class="btn btn-inverse btn-dark" href="#project-section">View Work</a>
				<div style="display: inline-block; margin-left: 12px; margin-right: 12px">
				</div>
				<a role="button" class="btn btn-inverse btn-dark" href="#contact-section">Contact Me</a>
			</div>
			<br>
			<hr class="project-dividers">
			<br>
			<div class="d-flex align-self-center justify-content-center">
				<p>Find me online:&nbsp;&nbsp;</p>
				<a href="https://www.linkedin.com/in/hansendanield/"><i class="fab fa-linkedin" style="color:#343a40; font-size:x-large;"></i></a>
				<div style="display: inline-block; margin-left: 12px; margin-right: 12px">
				</div>
				<a href="https://www.github.com/dhnsen"><i class="fab fa-github" style="color:#343a40; font-size:x-large;"></i></a>
				<div style="display: inline-block; margin-left: 12px; margin-right: 12px">
				</div>
				<a href="https://medium.com/@spag1024"><i class="fab fa-medium-m" style="color:#343a40; font-size:x-large;"></i></a>
			</div>

		</div>
		<div class="circle-base" id="intro-arrow"><a href="#project-section"><i class="fas fa-caret-down"></i></a></div>
	</section>

	<!--- projects section -->
	<section id="project-section">
		<br><br>
		<h1>Projects</h1>
		<br>
		<!--- project -->
		<div class="project-container">
			<div class="project-title">
				<h4>Spending Comparison</h4>
			</div>
			<div class="project-image-container">
				<img class="project-image" src="img/spending-app.jpg">
			</div>
			<div class="project-info-container">

				<div>
					<h4 class="title-in-project-description">Spending Comparison</h4>
					<p>This app prompts users to enter their income, region and amounts of spending for different
						categories. Then it compares them to similar households using data from the Bureau of Labor
						Statistics. This project got a few hundred hits after I posted a link on Reddit. Feedback was
						that results need to be graphical, rather than textual. Otherwise, it was well received.</p>
					<div class="project-tech">
						<p>ASP.NET MVC | SQL Server | Bootstrap | JQuery</p>
					</div>
					<div class="project-links">
						<p><strong><a href="http://spendingcomparison.us">View it live</a> || <a href="https://github.com/dhnsen/SpendingComparison">Review on Github</a></strong></p>
					</div>
				</div>
			</div>
		</div>
		<hr class="project-dividers">
		<br>
		<!--- project -->
		<div class="project-container">
			<div class="project-title">
				<h4>Foundation Web Site</h4>
			</div>
			<div class="project-image-container">
				<img class="project-image" src="img/icmf-site.jpg">
			</div>
			<div class="project-info-container">
				<h4 class="title-in-project-description">Foundation Web Site</h4>
				<p>Basic informational and marketing site. Built on WordPress to allow later edits by foundation board
					members. Includes contact form, donation link, scholarship and grant applications. Feedback is that
					some older audience members have trouble navigating the site. Otherwise accepted by the client.</p>
				<div class="project-tech">
					<p>WordPress | CSS</p>
				</div>
				<div class="project-links">
					<p><strong><a href="https://www.icmasonicfoundation.org/">View it live</a></strong></p>
				</div>
			</div>
		</div>
		<hr class="project-dividers">
		<br>
		<!--- project -->
		<div class="project-container">
			<div class="project-title">
				<h4>Savings Goal Planner<br>This one is not completed yet</h4>
			</div>
			<div class="project-image-container">
				<img class="project-image" src="public/img/goals-app.jpg">
			</div>
			<div class="project-info-container">
				<h4 class="title-in-project-description">Savings Goal Planner<br>This one is not completed yet</h4>
				<p>This software allows a user to create savings goals. Then they enter the total amount saved and it breaks down their progress over all goals.</p>
				<p>It's architected with a .NET Core API back-end and an ExpressJS/EJS front-end. This is an experiment in the efficiency of microservices.</p>
				<div class="project-links">
					<p><strong><a href="https://github.com/dhnsen/FinGoals-DotNet">See it on Github</a></strong></p>
				</div>
			</div>
		</div>
		<br>
	</section>
<br>
	<!--- About -->
	<section id="about-section">
		<br>
		<br>
		<h1>About</h1>
		<div class="about-description">

			<p>Hi! I'm Dan and I've been working in information technology for over 8 years. I have also been
				designing
				for print and the web for 20 years. I completed software curriculums from Kirkwood Community
				College,
				Pluralsight and freeCodeCamp. I also have a bachelor’s degree and some graduate coursework in
				e-commerce
				and marketing.</p>
			<p>A few facts about me:</p>
			<ul>
				<li>I wake up every day at 4:30am to write code and it's my favorite part of the day.</li>
				<li>I have been the top performer in almost every job I’ve ever had.</li>
				<li>I have read dozens of books on personal productivity.</li>
				<li>I LOVE to create tools to help other people get their work done faster.</li>
				<li>I am willing to take on the hard projects.</li>
			</ul>
			<p><strong>What can I do?</strong> I can develop the WHOLE stack. I can run servers, administrate databases, build back-end or front-end and I can explain it to the customer in language they understand.</p>
			<br>
			<br>

		</div>
		
	</section>
<br>
	<!-- Contact section -->
	<section id="contact-section">
		<br>
		<br>
		<h1>Contact Me</h1>
		<div class="contact-form">
			<form method="POST" action="/send">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="e.g. Jane Smith">
				</div>
				<div class="form-group">
					<label for="email-address">Email address</label>
					<input type="email" class="form-control" id="email-address" name="email"
						placeholder="e.g. Jane@global.com">
				</div>
				<div class="form-group">
					<label for="phone-number">Phone Number</label>
					<input type="text" class="form-control" id="phone" name="phone" placeholder="e.g. 555-123-4567">
				</div>
				<div class="form-group">
					<label for="message">Message</label>
					<textarea name="message" style="width: 100%;" rows="5"
						placeholder="e.g. This is Jane from GlobalCom and I'd like to discuss a job opportunity..."></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

		</div>
		<br>
		<br>
	</section>

	<br>
	<!--- Footer -->
	<div id="footer">
		<p></p>
		<br>
		<br>
		<h5>This page runs on:</h5>
		<h5>Ubuntu | NGINX | NodeJS | ExpressJS | EJS | HTML5 | CSS</h5>
		<p>Copyright <%= new Date().getFullYear() %> Dan Hansen</p>
		<br>
		<br>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</body>

</html>